<!-- ========================= -->
<!-- about.html -->
<!-- ========================= -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À propos</title>
    <link rel="stylesheet" href="../Static/style.css">
</head>
<body>

<header>
    <nav class="navbar">
        <div class="logo">
            <img src="../Static/logo.png" alt="logo">
            <span>MediaTrust</span>
        </div>

        

        <ul class="nav-menu active">
            <li><a href="index.html">Accueil</a></li>
            <li><a href="history.html">Historique</a></li>
            <li><a href="about.html">À propos</a></li>
            <li><a href="profile.html">Profil</a></li>
        </ul>

    </nav>
</header>

<main class="page">

    <section class="about-section">

        <h1>À propos de MediaTrust</h1>

        <p>
            MediaTrust est une plateforme moderne de vérification
            et d’authentification des médias numériques.
        </p>
        <p></p>

        <p>
            Notre objectif est de lutter contre les fake news,
            les contenus manipulés et la désinformation.
        </p>
        <p>
            Hash SHA-256: Empreinte unique,garantir que le fichier n'a pas été modifié (integrité)
        </p>
        <p>
            Manifeste C2PA: Certificat d'authenticité et d'origine (qui,quand,avec quoi)
        </p>
        <p>
            Watermark (LSB): Signature invisible insérée pour prouver la propriété/un message secret
        </p>

    </section>

</main>

</body>
</html>